<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href = "~/css/style.css" rel="stylesheet" /> 
    <link href = "~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" /> 
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/images/logo.png" width="30" height="30" asp-append-version="true" />
                BookStore
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <form class="form-inline">
                    <button class="btn btn-outline-success" type="button">Login</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Register</button>
                </form>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home/aboutus">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home/contactus">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/book/getallbooks">Books</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted text-center"> 
        <div class=container>
            Copyright &copy BookStore @DateTime.Now.Year
        </div>
    </footer>
    <srcipt src="~\lib\jquery\jquery.js"></srcipt>  
</body>
</html>

