@model BookModel
@using BookStore.Enums
@{
	ViewBag.Title = "Adding book | BookStore";
}

<div class="container display-5">
	<h3 class="display-4">Add new book</h3>
	<hr />

	@if (ViewBag.IsSuccess == true)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Congratulations!</strong> You should added new book succesfully.<br />
			Click <a asp-controller="Book" asp-action="GetBook" asp-route-id=@ViewBag.BookId>here</a> to view details.
			<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}

	<form method="post" asp-action="AddNewBook" asp-controller="Book">
		<div class="form-group">
			<label asp-for="Title"></label>
			<input asp-for="Title" type="text" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Author" class="col-form-label"></label>
			<input asp-for="Author" type="text" class="form-control" />
			<span asp-validation-for="Author" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Category" class="col-form-label"></label>
			<input asp-for="Category" type="text" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="LanguageId" class="col-form-label"></label>
			<select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language">
				<option value = "">Please choose the language</option>
			</select>
			<span asp-validation-for="LanguageId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label asp-for="TotalPages"></label>
			<input asp-for="TotalPages" type="number" class="form-control" />
			<span asp-validation-for="TotalPages" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Add book" class="btn btn-primary" />
		</div>
	</form>
</div>

