
@{
    ViewData["Title"] = "AboutUs";
    Layout = "_Layout";
}
<div class="container">
   <h1>About us</h1>
   <p>This is AboutUs page of this application</p>
</div>

@section breadcrumb{
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">AboutUs</li>
          </ol>
        </nav>
    </div>
}
