
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>ContactUs</h1>
    <p>This is ContactUs page of this application :)</p>
</div>

@section breadcrumb{
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">ContactUs</li>
          </ol>
        </nav>
    </div>
}