
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>ContactUs</h1>
    <p>This is ContactUs page of this application :)</p>
</div>
