
<section class="jumbotron text-center bg-white">
	<div class="p-2 mb-2  rounded-3">
		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">Welcome to BookStore</h1>
			<p class="lead tex-muted">Download books that interest you</p>
			<button class="btn btn-primary btn-lg" type="button">Search books</button>
		</div>
	</div>
</section>

<div class="py-5 bg-light">
	<div class="container">
		<h3>Top books</h3>
		<vc:top-books count="3"></vc:top-books>
	</div>
</div>

@*@section breadcrumb{
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Page</a></li>
				<li class="breadcrumb-item active" aria-current="page">Index</li>
			</ol>
		</nav>
	</div>
}*@

@section scripts{
	<script>
		$(document).ready(function() {
			//	alert("document is ready")
		});
	</script>
}
